
.navbar li{
    display: flex;
    align-items: center;
    margin-left:10px;
}
.account{
    height:20px;
    width:100px;
    border: solid 1px gray;
    border-radius:20px; 
}
.banner-section-bg-container{
    background-image: url("https://ik.imgkit.net/3vlqs5axxjf/TAW/ik-seo/uploadedImages/Content-Travel_Types/Adventure_Travel/Features/ATTA%20Trends_HERO/The-Latest-Trends-in-Adventure-Travel.jpg?tr=w-1008%2Ch-567%2Cfo-auto");
    background-size: cover;
    color:black;
    height:100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family:'Roboto', sans-serif;
}
.card{
    display: flex;
    flex-direction: column;
    width: 90%;
    padding:30px;
    border-radius:10px;
}
.details-container{
    height: 80%;
    display:flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    justify-content: space-around
}
.destination-container{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    height:80px;
    width:100%;
    border:solid 1px gray;
    border-radius: 10px;
    border-top:solid 2px darkblue; 
    border-bottom:solid 2px darkblue; 
    padding:10px;
}
.destination-container input{
    border:none;
    border-color:white;
    height:50%;
    width:50%;
}
.checkin-out-container{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    justify-content: space-evenly;
    height:100%;
    width:100%;
    border:solid 1px gray;
    border-radius: 10px;
    border-top:solid 2px darkblue; 
    border-bottom:solid 2px darkblue;
    padding: 10px;

}
.checkin-out-container input{
    border:none;
    border-color:white;
    height:100%;
    width:100%;
}
.checkin-container{
    display:flex;
    flex-direction: column;
}
.checkout-container{
    display:flex;
    flex-direction: column;
}
.guest-room-container{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    justify-content: space-evenly;
    height:80px;
    width:100%;
    border:solid 1px gray;
    border-radius: 10px;
    border-top:solid 2px darkblue; 
    border-bottom:solid 2px darkblue;
    padding: 10px;

}
.guest-room-container select{
    border:none;
    border-color:white;
    width:100%;
}
.search-container{
    height:80px;
    width:100px;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
}
.search-container button{
    background-color: transparent;
    border: none;
}
.rating-container div{
    border-radius: 5px;
}